<template>
<div class="app">

    <b-navbar type="is-dark">
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <b-icon icon="car-battery"></b-icon>
                <h4 class="ml-5 title is-5 has-text-light">EVS</h4>
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/old-simulations' }">
                Simulations
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/modules' }">
                Modules
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/results' }">
                Results
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/messages' }">
                Logs
            </b-navbar-item>
        </template>
    </b-navbar>
    <div class="mainview">
      <router-view></router-view>
    </div>
</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export class App extends Vue {}

export default App;
</script>

<style lang="scss">
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import 'styles/variables.scss';

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$link: $primary-light;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

html, body, .app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-flow: column;
}

.mainview {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

</style>
