<template>
  <div>Messages</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export class Messages extends Vue {

}

export default Messages;
</script>

<style lang="scss" scoped>

</style>
