<template>
  <div>Modules</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export class Modules extends Vue {

}

export default Modules;
</script>

<style lang="scss" scoped>

</style>
