<template>
  <div>New Simulation</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export class NewSimulation extends Vue {

}

export default NewSimulation;
</script>

<style lang="scss" scoped>

</style>
