<template>
  <div>Old Simulations</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export class OldSimulations extends Vue {

}

export default OldSimulations;
</script>

<style lang="scss" scoped>

</style>
