<template>
  <div>Results</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export class SimulationResults extends Vue {}

export default SimulationResults;
</script>

<style lang="scss" scoped>
</style>
